.header {
  &__navbar {
    padding: 10px 0;
  }

  &__menu {
    &__text {
      display: inline-block;
      margin-right: 10px;
      position: relative;
      top: -15px;
    }

    &__image {
      background-image: url(../images/profile.jpg);
      background-size: cover;
      width: 43px !important;
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
