.site {
  &__logo {
    position: relative;
    margin-bottom: 35px;
    width: 640px;

    @include media-breakpoint-down(md) {
      width: 530px;
    }

    @include media-breakpoint-down(sm) {
      width: 490px;
    }

    @include media-breakpoint-down(xs) {
      width: 280px;
    }

    .logo {
      background-image: url(../images/logo.png);
    }
  }

  &__title {
    display: none;
  }

  &__en-casa {
    background-image: url(../images/en-casa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 52px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    width: 100px;

    @include media-breakpoint-down(xs) {
      bottom: -20px;
    }
  }

  &__nav {
    padding-top: 100px;
  }

  &__marmar {
    background-color: $white;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    margin-top: 35px;
    padding: 10px;
  }

  &__pelotas {
    background-image: url(../images/pelotas.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  #status {
    margin-bottom: 20px;
  }
}
